.main_chat
  .group_info
    .group_info__left_box
      %p.group_info__left_box--name
        =@group.name
      .group_info__left_box--member
        %ul
          Member :
          -@group.users.each do | group_user |
            %li
              =group_user.name
    .group_info__right_box
      = link_to edit_group_path(@group.id),class: "btn-edit" do
        Edit
  .message_list
    =render @messages
  .message_form
    =form_for [@group,@message],html:{id: "input-form"}  do | f | 
      .form
        =f.text_field :content ,placeholder: "type a message",class:"form__input"
        %label.form__image
          = icon('far', 'image')
          =f.file_field :image 
      =f.submit "Send",class: "send_btn"

