.main_chat
  .group_info
    .group_info__left_box
      %p.group_info__left_box--name
        テックキャンプ
      %p.group_info__left_box--member
        member:norio
    .group_info__right_box
      = link_to "#",class: "btn-edit" do
        Edit
  .message_list
    .message
      .message__header
        %p.message__header--name
          norio
        %p.message__header--date
          20200101 00:00
      .message__main
        今日もいい天気だ
    .message
      .message__header
        %p.message__header--name
          aiueo
        %p.message__header--date
          20200101 00:00
      .message__main
        いいや曇りだ
    .message
      .message__header
        %p.message__header--name
          norio
        %p.message__header--date
          20200101 00:00
      .message__main
        晴れてます
  .message_form
    .form
      %input.form__input{name: "form" ,placeholder: "type a message",type: "text"}
      %label.form__image
        = icon('far', 'image')
        %input{type: "file"}
    %input.send_btn{type:"submit",value:"Send"}
      

