
.message{data: {message: {id: message.id}}}
  .message__header
    %p.message__header--name
      =message.user.name
    %p.message__header--date
      =message.created_at
  .message__main
    =message.content
  =image_tag(message.image) unless message.image.blank?